<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>

  <% unless current_user.github_uid %>
    <%= button_to 'Connect to Github', 'auth/github' %>
  <% end %>

  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email %> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
    <ul>
    <% facade.bookmarked_videos.each do |video| %>
      <li class=bookmarked-video>
        <%= link_to video.title, tutorial_path(video.tutorial_id, video_id: video.id) %>
        <p><img class="thumbnail" src= <%="#{video.thumbnail}" %> ></p>
      </li>
    <% end %>
    </ul>
  </section>

  <section id=friends>
    <h1>Turing Friends</h1>
    <ul>
    <%= current_user.friends.each do |friend| %>
      <li><%= friend.first_name %> <%= friend.last_name %></li>
    <% end %>
    </ul>
  </section>

  <% if current_user.github_uid%>
  <h1>GitHub Repos</h1>
    <ul id=github-repos>
      <% facade.top_repos.each do |repo| %>
        <li class=repo-link><%= link_to repo.name, repo.link %></li>
      <%end%>
    </ul>

  <h1>GitHub Followers</h1>
    <ul id=github-followers>
      <%facade.followers.each do |follower| %>
        <li class=follower-link>
          <%= link_to follower.name, follower.link%>
          <% if follower.has_account? && current_user.not_friends_with(follower.github_uid) %>
            <%= link_to "Add as Friend", friendships_path(follower.github_uid), method: :post %>
          <% end %>
        </li>
      <%end%>
    </ul>
  <h1>GitHub Following</h1>
    <ul id=github-following>
      <% facade.followings.each do |following| %>
        <li class=following-link>
          <%= link_to following.name, following.link%>
          <% if following.has_account? && current_user.not_friends_with(following.github_uid) %>
            <%= link_to "Add as Friend", friendships_path(following.github_uid), method: :post %>
          <% end %>
        </li>
      <% end %>
    </ul>

  <% end %>
</section>
